# Assignment Day 2 batch 7 python essential FCS

# by Adrita Bardhan (adrita.bardhan@gmail.com)

# Question 1

# List and its default function

# List is a data structure which is used to store various types of data.

# In python lists are mutable.

# In python lists are written between square brackets [  ].

In [1]:
list1 = ['maths','biology','chemistry',1996,51,123.70]

In [2]:
list1

['maths', 'biology', 'chemistry', 1996, 51, 123.7]

In [3]:
print(list1)

['maths', 'biology', 'chemistry', 1996, 51, 123.7]

In [4]:
# accessing values in a list 
print (list1[1])

biology

In [5]:
print (list1[5])

123.7

In [10]:
print (list1[-2])

51

# 1.append() method which is used to append i.e., add an element at the end of the list.

In [6]:
list1.append("orange")

In [11]:
list1

['maths', 'biology', 'chemistry', 1996, 51, 123.7]

# 2. pop() method removes the specified index, (or the last item if index is not specified.

In [8]:
list1.pop()

'orange'

In [12]:
list1

['maths', 'biology', 'chemistry', 1996, 51, 123.7]

# 3. copy() method makes a copy of a list

In [14]:
list1 = ['maths','biology','chemistry',1996,51,123.7]

In [15]:
list2 = list1.copy()

In [16]:
list2

['maths', 'biology', 'chemistry', 1996, 51, 123.7]

# 4. len() method is used to determine how many items a list has

In [17]:
print (len(list1))

6

# 5. extend() method appends the contents of seq to list

In [23]:
list1

['biology', 'chemistry', 'maths', 1996, 51, 123.7]

In [24]:
list1.extend(['mango','banana'])

In [25]:
list1

['biology', 'chemistry', 'maths', 1996, 51, 123.7, 'mango', 'banana']

# Question 2
# dictionary and its default function

A dictionary is a collection of which is unordered, changable and indexed.
In python dictionaries are written with curly brackets and they have keys and values.

The key value pair know as item. The key passed in the item must be unique

The key and the value is separated by a colon (:) and items are separated from each other by a comma (,)

In [26]:
scooty = {"brand": "hero", "model": "pleasure", "year": 2018, "color": "black"}

In [27]:
scooty

{'brand': 'hero', 'model': 'pleasure', 'year': 2018, 'color': 'black'}

In [28]:
print(scooty)

{'brand': 'hero', 'model': 'pleasure', 'year': 2018, 'color': 'black'}

In [29]:
#accessing keys of a dictionary

In [30]:
scooty.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
#accessing values of a dictionary

In [31]:
scooty.values()

dict_values(['hero', 'pleasure', 2018, 'black'])

In [ ]:
#accessing items of a dictionary

In [32]:
scooty.items()

dict_items([('brand', 'hero'), ('model', 'pleasure'), ('year', 2018), ('color', 'black')])

In [35]:
#access the items of a dictionary by referring to its key name inside square brackets

In [36]:
x = scooty ["brand"]

In [37]:
print(x)

hero

In [38]:
scooty ["model"]

'pleasure'

In [40]:
print (scooty["color"])

black

## 1. dict.get() method for key key, returns value or default if key not in dictionary

In [5]:
scooty.get("color")

'black'

In [6]:
scooty.get('brand')

'hero'

In [7]:
scooty.get("model")

'pleasure'

## 2.dict.clear() removes all elements of dictionary dict

In [45]:
scooty2 = {"brand" : "Honda", "model" : "dio", "year" :2020, "color" : "red","store" : "dankuni"}

In [25]:
scooty2.clear()
print (scooty2)

{}

## 3. type() method returns the type of the passed variable. if passed variable is dictionary then it would return a dictionary type.

In [33]:
type(scooty)

dict

In [34]:
print (type(scooty))

<class 'dict'>

## 4. str() method Produces a printable string representation of a dictionary

In [41]:
str(scooty)

"{'brand': 'hero', 'model': 'pleasure', 'year': 2018, 'color': 'black'}"

## 5. len() method gives the total length  of the dictionary ,this would be equal to the numbers of items in the dictionary

In [44]:
len(scooty)

4

In [46]:
len(scooty2)

5

In [40]:
#it will convert dictionary into list
list(scooty)

['brand', 'model', 'year', 'color']

# Queston 3
# Sets and its default functions.

A set is a colection which is unordered and unindexed. In python sets are written with curly { } brackets.

In [53]:
set1 = {"mango", "orange", "apple", "banana", "cherry"}
print (set1)

{'cherry', 'mango', 'banana', 'orange', 'apple'}

In [54]:
set1

{'apple', 'banana', 'cherry', 'mango', 'orange'}

## 1. union() method is used to join 2 or more sets in python , union() will returns a new set containing all items from both sets

In [98]:
set1 = {"mango", "orange", "apple", "banana", "cherry"}

set2 = {"banana", "kiwi", "guava","lichi","orange"}

set3 = set2.union(set1)

In [67]:
print(set3)

{'cherry', 'mango', 'banana', 'lichi', 'kiwi', 'orange', 'guava', 'apple'}

In [70]:
set3

{'apple', 'banana', 'cherry', 'guava', 'kiwi', 'lichi', 'mango', 'orange'}

## 2. Set difference() method Returns Difference of Two Sets or more

In [72]:
set4 = set2.difference(set1)

In [73]:
set4

{'guava', 'kiwi', 'lichi'}

In [78]:
print(set4)

{'kiwi', 'guava', 'lichi'}

In [83]:
set5 = set1.difference(set2)
set5

{'apple', 'cherry', 'mango'}

In [84]:
print(set5)

{'cherry', 'apple', 'mango'}

## 3. isdisjoint() returns whether two sets have a intersection or not

In [96]:
setx = {"gmail", "outlook", "yahoo","facebook"}

sety = {"instagram", "whatsapp", "facebook"}

setz = sety.isdisjoint(setx)

In [97]:
print(setz)

False

In [165]:
setf = {"mango", "orange", "apple", "banana", "cherry"}

setv = {"potato", "onion", "garlic", "ginger", "chilli"}

setc = setf.isdisjoint(setv)
print(setc)

True

## 4. intersection() returns a set, that is the intersection of two other sets

In [104]:
setx = {"gmail", "outlook", "yahoo","facebook"}

sety = {"facebook","instagram", "whatsapp","youtube"}

sets = setx.intersection(sety)
sets

{'facebook'}

In [129]:
setb = {1,2,4,7,8,9,10,12,12,15,19,20,21}

seta = {21,24,25,28,29,30,12,1,4}

setc = seta.intersection(setb)
setc

{1, 4, 12, 21}

In [130]:
setn = {"ajay", "nitu", "suraj"}

setm = {"merry","george", "peter"}

seto = setn.intersection(setm)
seto

set()

## 5. issubset() returns whether another set contains this set or not

In [110]:
seta = {1,2,4,7}

setb = {1,2,4,7,8,9,10,12,12,15,19,20,21}

setc = seta.issubset(setb) 
setc

True

In [117]:
seta = {1,2,4,7}

setb = {1,2,4,7,8,9,10,12,12,15,19,20,21}

setc = setb.issubset(seta) 
setc

False

In [127]:
setx = {"a","b","c"}
sesety = {"a","e","f","g","c","h","i","g","b",}

setz = setx.issubset(sety)
setz

True

#### issuperset()Returns whether this set contains another set or not

In [115]:
setb = {1,2,4,7,8,9,10,12,12,15,19,20,21}

seta = {1,2,4,7}
setc = setb.issuperset(seta)
setc

True

In [116]:
setb = {1,2,4,7,8,9,10,12,12,15,19,20,21}

seta = {1,2,4,7}
setc = seta.issuperset(setb)
setc

False

In [128]:
sety = {"a","e","f","g","c","h","i","g","b",}
setx = {"a","b","c"} 
setz = sety.issuperset(setx)
setz

True

# Question 4
# Tuple and explore default methods

A tuple is a sequence of immutable python objcts. tuples are sequences like lists but tuples are unchangeable. tuples are written with parentheses ( )

In [180]:
tuple1 = ("disco", 10, 1.2, "hard rock" , 9, "pop")
tuple1

('disco', 10, 1.2, 'hard rock', 9, 'pop')

In [133]:
print(tuple1)

('disco', 10, 1.2, 'hard rock', 9, 'pop')

## 1. min() method returns item from the tuple with minimum value (type of element should be same otherwise complier throws type error)

In [160]:
tuple3 = ('disco','pop','jazz','hard rock','hip hop')
print (min(tuple3))

disco

In [161]:
tuple4 = (72,89,78,56,39,95,68,98)
print (min(tuple4))

39

## 2. max() method returns item from the tuple with maximum value (type of element should be same otherwise complier throws type error)

In [159]:
tuple3 = ('disco','pop','jazz','hard rock','hip hop')
print (max(tuple3))

pop

In [158]:
tuple4 = (72,89,78,56,39,95,68,99)
print (max(tuple4))

99

## 3. len() method returns the number of elements in the tuple

In [144]:
tuple3 = ('disco','pop','jazz','hard rock','hip hop')
len(tuple3)

5

In [146]:
tuple4 = (72,89,78,56,39,95,68,99)
len(tuple4)

8

In [181]:
tuple1 = ("disco", 10, 1.2, "hard rock" , 9, "pop")
len(tuple1)

6

## 4. Adding : tuples can be added by concatenation operator (+) to join two tuples this create a new tuple

In [149]:
t1 = (1,2,3)
t2 = ('abc', 'xyz')
t3 = t1 + t2
print (t3)

(1, 2, 3, 'abc', 'xyz')

In [157]:
tuple6 = ('java', 'python', 'R','c')
tuple7 = (32,33,34,45)
tuple8 = tuple6 + tuple7
print (tuple8)

('java', 'python', 'R', 'c', 32, 33, 34, 45)

## 5. Range of indexes: you can specify a range of indexes specifying where to start and where to end the range

In [173]:
tuplef = ("mango", "orange", "apple", "banana", "cherry","melon", "kiwi")
print (tuplef[0:3])

('mango', 'orange', 'apple')

In [174]:
print (tuplef[2:6])

('apple', 'banana', 'cherry', 'melon')

In [175]:
print (tuplef[5:7])

('melon', 'kiwi')

### you can accses tuple elements by referring to their index number

In [177]:
print (tuplef[3])

banana

In [179]:
print (tuplef[0])

mango

# Questions 5
# Strings and explore default methods

A string is a sequence of unicode characters that may b a combination of letters, numbers and special symbols.

In [182]:
string1 = "welcome to the world of python"

In [196]:
string1

'welcome to the world of python'

In [197]:
print(string1)

welcome to the world of python

In [200]:
string1.count("to")

1

## 1. The upper() method returns the string in the upper case.

In [186]:
string1 = "welcome to the world of python"
print (string1.upper())

WELCOME TO THE WORLD OF PYTHON

## 2. The lower() method returns the string in the lower case.

In [201]:
string1 = "welcome to the world of python"
print (string1.lower())

welcome to the world of python

## 3. The replace() method replaces a string with another string.

In [202]:
string1 = "welcome to the world of python"
print ( string1.replace ("o", "s"))

welcsme ts the wsrld sf pythsn

## 4. Escape sequence: In python the backslash "\" is a special character, also called the escape character.

In [214]:
string1 = "welcome to the world of python"
print ( "welcome to \n the world of python")

welcome to
 the world of python

## 5. In python String split()  method splits a string into a list.

In [190]:
string1.split(" ")

['welcome', 'to', 'the', 'world', 'of', 'python']

In [209]:
string1.index("p")

24

In [188]:
string1.capitalize()

'Welcome to the world of python'

In [189]:
string1.casefold()

'welcome to the world of python'

#### Thank you Letsupgrade python essentials batch 7